<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @factor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @factor.description %>
</p>

<%= link_to 'Edit', edit_factor_path(@factor) %> |
<%= link_to 'Back', factors_path %>
