<p id="notice"><%= notice %></p>

<p>
  <strong>House:</strong>
  <%= @review.house_id %>
</p>

<p>
  <strong>Factor:</strong>
  <%= @review.factor_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user_id %>
</p>

<p>
  <strong>Note:</strong>
  <%= @review.note %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
