<h1>Listing rates</h1>

<table>
  <thead>
    <tr>
      <th>Text input</th>
      <th>Integer input</th>
      <th>Start range</th>
      <th>End range</th>
      <th>Float input</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @rates.each do |rate| %>
      <tr>
        <td><%= rate.text_input %></td>
        <td><%= rate.integer_input %></td>
        <td><%= rate.start_range %></td>
        <td><%= rate.end_range %></td>
        <td><%= rate.float_input %></td>
        <td><%= link_to 'Show', rate %></td>
        <td><%= link_to 'Edit', edit_rate_path(rate) %></td>
        <td><%= link_to 'Destroy', rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rate', new_rate_path %>
